/* Theme Color */

.btn,input[type="submit"]{
     background: #06D6A0;
     border-color: #06D6A0 !important;
}

a:hover,.social-link a:hover, .social-link a:hover i{
     color:#06D6A0 !important;
}

.dropdown li a:hover{
     background: #06D6A0;
   }
   
   nav .main-nav li:hover > a{
     color: #06D6A0;
   }
   
   /* Slick Nav */
   
   .slick-nav .dropdown li a:hover,.slicknav_nav .slicknav_row:hover,.slicknav_nav a:hover,.slicknav_nav .slicknav_row:hover a,.slicknav_btn{
     background: #06D6A0;
   }


/* Hero CTA */

.hero.cta-section{
     background: url(../img/team-header-bg.jpg);
     background-size: cover;
     background-position: center;

}

.bottom.cta-section{
     background: url(../img/pricing-bottom-cta.jpg);
}