/* Theme Color */

.btn,input[type="submit"]{
     background: #06D6A0;
     border-color: #06D6A0 !important;
}

.dropdown li a:hover{
     background: #06D6A0;
   }
   
   nav .main-nav li:hover > a{
     color: #06D6A0;
   }
   
   /* Slick Nav */
   
   .slick-nav .dropdown li a:hover,.slicknav_nav .slicknav_row:hover,.slicknav_nav a:hover,.slicknav_nav .slicknav_row:hover a,.slicknav_btn{
     background: #06D6A0;
   }

   
   /* Header CTA */

.hero.cta-section{
     background: url(../img/services-header-v2.jpg);
     background-size: cover;
     background-position: center;

}



.services-v1 .single-servies-box:hover {
     border-color: #06D6A0;
   }
   .services-v1 .single-servies-box:hover h4,.services-v1 .single-servies-box:hover i,.services-v1 .single-servies-box:hover .servies-btn {
     color: #06D6A0;
   }

   

.services-v1 nav .main-nav a:hover {
     color: #06D6A0;
   }


   .services-v1 .social-link a:hover,.services-v1 .social-link a:hover i{
        color: #06D6A0;
   }